<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/style/product/infoProduct.css}" type="text/css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Информация о товаре</title>
</head>
<body>
<div class="page">

    <div class="header">
        <h1 class="logo">Магазинчик</h1>
        <div class="nav">
            <form method="get" th:action="@{/auth/login}">
                <button class="nav_item">Вход</button>
            </form>
            <form method="get" th:action="@{/auth/registration}">
                <button class="nav_item">Регистрация</button>
            </form>
            <form method="get" th:action="@{/cart}">
                <button class="nav_item">Корзина</button>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="card_info">
            <p th:text="'Наименование: ' + ${product.getTitle()}"></p>
            <p th:text="'Описание: ' + ${product.getDescription()}"></p>
            <p th:text="'Цена: ' + ${product.getPrice()}"></p>
            <p th:text="'Склад: ' + ${product.getWarehouse()}"></p>
            <p th:text="'Продавец: ' + ${product.getSeller()}"></p>
            <p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
            <a class="card_item_link" th:href="@{/cart/add/{id}(id=${product.getId()})}">Добавить в корзину</a>
        </div>
        <div th:each="img : ${product.getImageList()}">
            <img th:src="'/img/' + ${img.getFileName()}" width="300px">
        </div>
    </div>

    <div class="footer">
        <h1 class="logo">Магазинчик</h1>
        <p class="footer_p">
            +7(495)777-77-77<br>
            Единая справочная служба г. Москвы
        </p>
    </div>

</div>
</body>
</html>