<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование заказа</title>
</head>
<body>
<h3>Редактирование заказа</h3>
    <br>
<form th:method="POST" th:action="@{/admin/orders/edit/{id}(id=${editOrder.getId()})}" th:object="${editOrder}">
    <label hidden for="status"></label>
    <textarea hidden th:field="*{status}" placeholder="Статус" id="status"></textarea>
    <select size="6" multiple name="hero[]">
        <option disabled>Выберите статус</option>
        <option value="Принят">Принят</option>
        <option value="Отменен">Отменен</option>
        <option value="Оформлен">Оформлен</option>
        <option value="Ожидает">Ожидает</option>
        <option value="Получен">Получен</option>
    </select>
    <br>
    <label hidden for="number"></label>
    <textarea hidden th:field="*{number}" placeholder="Номер заказа" id="number"></textarea>
    <label hidden for="price"></label>
    <textarea hidden th:field="*{price}" placeholder="Цена" id="price"></textarea>
    <label hidden for="person"></label>
    <textarea hidden th:field="*{person}" placeholder="Клиент" id="person"></textarea>
    <label hidden for="product"></label>
    <textarea hidden th:field="*{product}" placeholder="Товар" id="product"></textarea>
    <br>
    <input type="submit" value="Редактировать">
</form>
</body>
</html>