<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Все заказы</title>
</head>
<body>
<h3>Заказы</h3>

<form th:method="POST" th:action="@{/admin/orders/search}">
  <fieldset>
    <label for="search">Поиск заказа по последним четырём символам:</label>
    <input type="search" name="search" th:value="*{value_search}" id="search">
    <br>
    <input type="submit" value="Искать">
  </fieldset>
</form>
<h3>Результат:</h3>
<br>
<div th:each="order : ${search_order}">
  <h3 th:text="'Заказ № ' + ${order.getNumber()}"></h3>
  <img th:src="'/img/' + ${order.getProduct().imageList[0].getFileName()}" width="300px">
  <p th:text="'Наименование: ' + ${order.getProduct().getTitle()}"></p>
  <p th:text="'Количество: ' + ${order.getCount()}"></p>
  <p th:text="'Цена: ' + ${order.getPrice()}"></p>
  <p th:text="'Статус: ' + ${order.getStatus()}"></p>
  <p th:text="'Клиент: ' + ${order.getPerson()}"></p>
  <hr>
  <br>
  <a th:href="@{/admin/orders/edit/{id}(id=${order.getId()})}">Редактировать статус заказа</a>
  <br>
</div>
<br>
<a href="/admin">Назад</a>
<br>
</body>
</html>