
footer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #3d6c91;
    padding: 20px;
    align-items: center;
}

footer p{
    color: white;
}

footer img {
    background-color: white;
    border-radius: 50%;
}

footer .logo{
    font-size: 40px;
    font-weight: bold;
    color: #ffc228;
    justify-items: center;
}
