.page{
    margin: 0;
}

.header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #3d6c91;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    align-items: center;
}

.logo{
    color: #ffc228;
}

.nav_item{
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    background-color: #3d6c91;
    border-style: none;
    border-radius: 10px;
}

.nav_item:hover{
    color: #e1526a;
}

.container{
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 750px;
}

.edit_form{
    display: grid;
    padding: 50px;
    margin: 20px auto;
    border: #3d6c91 1px;
    border-radius: 35px;
    transition: ease-out 0.4s;
}

.edit_form{
    box-shadow: #3d6c91 0px 0px 10px 0px;
}

.edit_form form{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit_form label{
    font-weight: bold;
}

.edit_error{
    font-size: 15px;
    color: red;
}

.btn_submit{
    width: 100%;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    background-color: #3d6c91;
    border-style: none;
    border-radius: 7px;
}

.btn_submit:hover{
    color: #e1526a;
}

.card_item_link{
    display: grid;
    width: 100%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #e1526a;
    border: #e1526a;
    border-radius: 30px;
    text-align: center;
}

.card_item_link:hover{
    background-color: #ffc228;
    color: #3d6c91;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #3d6c91;
    padding: 20px;
    align-items: center;
    position: sticky;
    bottom:0;
    width: 100%;
}

.footer_p{
    color: white;
}

.h3{
    color: #3d6c91;
    text-align: center;
    width: 100%;
}