<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Информация о пользователе</title>
</head>
<body>
<h3>Информация о пользователе</h3>
<p th:text="'Логин: ' + ${person.getLogin()}"/>
<p th:text="'Пароль: ' + ${person.getPassword()}"/>
<p th:text="'Роль: ' + ${person.getRole()}"/>
<a th:href="@{/admin/person/edit/{id}(id=${person.getId()})}">Редактировать пользователя</a>
<a th:href="@{/admin/person/delete/{id}(id=${person.getId()})}">Удалить пользователя</a>
<a href="/admin/person">Назад</a>
</body>
</html>