.page{
    margin: 0;
    overflow: auto;
}

.header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #3d6c91;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    align-items: center;
}

.logo{
    color: #ffc228;
}

.nav_item{
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    background-color: #3d6c91;
    border-style: none;
    border-radius: 10px;
}

.nav_item:hover{
    color: #e1526a;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: auto auto;
    text-align: center;
    width: 100%;
}

.card_info{
    display: grid;
    margin: 30px;
    padding: inherit;
}

.card_info p{
    text-align: left;
}

.text_title{
    text-align: center;
    font-weight: bold;
    color: #3d6c91;
}

.card_item_link{
    display: grid;
    width: 100%;
    margin: 10px auto;
    color: white;
    font-weight: bold;
    background-color: #e1526a;
    border: #e1526a;
    border-radius: 30px;
    padding: 5px;
    text-decoration: none;
}

.card_item_link:hover{
    background-color: #ffc228;
    color: #3d6c91;
}

.thumb{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
}

.thumb img{
    border: 2px solid #e1526a;
    padding: 15px;
    background: white;
    margin-right: 10px;
    margin-bottom: 10px;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #3d6c91;
    padding: 20px;
    align-items: center;
    position: sticky;
    bottom:0;
    width: 100%;
}

.footer_p{
    color: white;
}